# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
**/node_modules
# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Environments
.env
.venv
env/
venv/
ENV/

# Pyenv
.python-version

# VS Code
.vscode/

# PyCharm
.idea/
*.iml

# Jupyter Notebook
.ipynb_checkpoints

# Celery
celerybeat-schedule
celerybeat.pid

# Sphinx documentation
docs/_build/

# Pytest
.pytest_cache/

# mypy
.mypy_cache/

# Flask
instance/
.webassets-cache

# Django stuff:
*.log
*.pot
*.pyc

# local git configuration
.gitconfig.local

# Test and coverage
.coverage
.tox/
.nox/
.cache/
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# dotenv
.env
.env.local
.env.*.local
